.zoomButtons{
  z-index: 2;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.hoursContainer {
  position: sticky;
  top:0;
  z-index: 15;
  height: 50px; /* ajustez selon vos besoins */
  background-color: aqua;
}

.goviContainer{
  position: absolute;
}

.dragscroll{
  overflow: auto;
  cursor: grab;
}
.dragscroll:active {
  cursor: grabbing;
}

.hours{
  position: absolute;
}
.encart-gare{
  border-bottom: 1px solid black;
}
.flex-container{
  display: flex;
}
.space-between{
  justify-content: space-between;
}
.vertical{
  flex-direction: column;
}

.red{
  background-color: red;
}
.sticky{
  position: sticky;
}
.nomGare{
  z-index: 10;
  position: sticky;
  width: 300px;
  left:0;

  background-color: DodgerBlue;
}

.quaisContainer{
  background-color: magenta;
}
.quai{
  position: relative;
  height: 50px;
}

.nomQuai{
  text-align: right;
  padding-right: 10px;
}

.retournementContainer{
  position: relative;
}
.retournement{
  top: -9px;
  height: 70%;
  border-bottom: 2mm ridge rgba(211, 220, 50, .6);
  position: absolute;
}

.mission{
  position: absolute;
  margin-top: 10px;
  text-align: start;
  line-height: 0;
}

.rotated {
  margin-top: 13px;
  position: relative;
  transform-origin: left center; /* Définit le centre de rotation à la partie gauche */
  transform: translate(-0%, 0%) rotate(-30deg); /* Applique la rotation de -90 degrés */
}

.texteCodeMission{
  font-size: 9px;
}
.texteADC{
  position: relative;
  font-size: 7px;
  top: 3px;
}

.texteDessousMission{
  width: 150px;
  font-size: 7px;
  margin-top: 15px;
  color: dodgerblue;
}
.inline{
  display: inline;
}

.devant{
  z-index: 1;
}
